<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/main.css">

<div class="root">
    <div class="navbar">
        <div class="container">
            <h2 class="navbar-text">c-velog</h2>
            <div class="navbar-text navbar-right">
                <i class="fa fa-search" aria-hidden="true"></i>
                <button class="button-round">새 글 작성</button>
                <div class="user-photo">
                    <img src="https://media.vlpt.us/images/devham76/profile/0c52a019-5f5e-43ed-ae06-5bfc2b156c94/social.png?w=120"
                         alt="thumbnail">

                </div>
            </div>
        </div>
        <!--container-->
    </div>
    <!--nav-->
    <div class="main">
        <!--main-tab-->
        <div class="container">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="#">
                        <i class="fas fa-chart-line"></i>트랜딩</a></li>
                <li role="presentation"><a href="#"><i class="far fa-clock"></i>최신</a></li>

            </ul>
            <div class="row">
                <div class="col-sm-9 div-items">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 item">
                            <div class="thumbnail">
                                <img
                                        src="https://media.vlpt.us/images/mowinckel/post/59f984b3-3f08-4f37-9e8b-37e2fdc28d0f/giphy.gif?w=640">
                                <div class="description-wrapper">
                                    <h4>시벨로그 클론코딩입니다</h4>
                                    <div class="item-info">본문내용입니다 어쩌고저쩌고</div>
                                    <div class="sub-info">2020년 5월 10일·29개의 댓글</div>
                                </div>
                                <div class="user-info">
                                    <a class="item-user">by hyemi</a>
                                    <div class="item-likes"><i class="fa fa-heart"></i>117</div>
                                </div>
                                <!--user info-->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 item">
                            <div class="thumbnail">
                                <img
                                        src="https://media.vlpt.us/images/mowinckel/post/59f984b3-3f08-4f37-9e8b-37e2fdc28d0f/giphy.gif?w=640">
                                <div class="description-wrapper">
                                    <h4>시벨로그 클론코딩입니다</h4>
                                    <div class="item-info">본문내용입니다 어쩌고저쩌고어쩌고저쩌고어쩌고저쩌고vv어쩌고저쩌고어쩌고저쩌고어쩌고저쩌고</div>
                                    <div class="sub-info">2020년 5월 10일·29개의 댓글</div>
                                </div>
                                <div class="user-info">
                                    <a class="item-user">by hyemi</a>
                                    <div class="item-likes"><i class="fa fa-heart"></i>117</div>
                                </div>
                                <!--user info-->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 item">
                            <div class="thumbnail">
                                <img
                                        src="https://media.vlpt.us/images/mowinckel/post/59f984b3-3f08-4f37-9e8b-37e2fdc28d0f/giphy.gif?w=640">
                                <div class="description-wrapper">
                                    <h4>시벨로그 클론코딩입니다</h4>
                                    <div class="item-info">본문내용입니다 어쩌고저쩌고</div>
                                    <div class="sub-info">2020년 5월 10일·29개의 댓글</div>
                                </div>
                                <div class="user-info">
                                    <a class="item-user">by hyemi</a>
                                    <div class="item-likes"><i class="fa fa-heart"></i>117</div>
                                </div>
                                <!--user info-->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 item">
                            <div class="thumbnail">
                                <img
                                        src="https://media.vlpt.us/images/mowinckel/post/59f984b3-3f08-4f37-9e8b-37e2fdc28d0f/giphy.gif?w=640">
                                <div class="description-wrapper">
                                    <h4>시벨로그 클론코딩입니다</h4>
                                    <div class="item-info">본문내용입니다 어쩌고저쩌고</div>
                                    <div class="sub-info">2020년 5월 10일·29개의 댓글</div>
                                </div>
                                <div class="user-info">
                                    <a class="item-user">by hyemi</a>
                                    <div class="item-likes"><i class="fa fa-heart"></i>117</div>
                                </div>
                                <!--user info-->
                            </div>
                        </div>
                        <!--item-->

                    </div>
                </div>
                <!--div-items-->
                <div class="col-sm-2 div-aside">
                    <div class="aside-notice">
                        <h4>공지사항</h4>
                        <ul>
                            <li>
                                <h5>수식 입력 및 외부 서비스 개체 삽입 기능 업데이트</h5>
                                <div class="date">2020년 3월 31일</span>
                            </li>
                            <li>
                                <h5>수식 입력 및 외부 서비스 개체 삽입 기능 업데이트</h5>
                                <div class="date">2020년 3월 31일</span>
                            </li>
                        </ul>
                    </div>
                    <!--aside-notice-->
                    <div class="aside-tags">
                        <h4>인기 태그</h4>
                        <ul>
                            <li><a>#알고리즘</a></li>
                            <li><a>#자료구조</a></li>
                            <li><a>#씨벨로그</a></li>
                            <li><a>#클론코딩</a></li>
                            <li><a>더보기</a></li>
                        </ul>
                    </div>
                    <!--aside-tags-->
                </div>
                <!--div-aside-->
            </div>
            <!--row-->
        </div>
        <!--container-->
    </div>
    <!--main-->
</div>
<!--root-->


<script src="https://code.jquery.com/jquery-3.5.1.slim.js"
        integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>