<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/write.css">
</head>
<body style="overflow-y: initial;">

    <div id="root">
        <div class="main_frame1" style="width:0%"></div>
        <!-- main frame -->
        <div class="main_frame2">
            <div class="main_frame2-1">
                <div data-testid="left" class="main_frame2-2" style="background-color: white;">
                    <div data-testid="codemirror" class="main_frame2-3">
                        <div class="wrapper">

                            <!-- 제목 및 태그 입력 항목 -->
                            <div style="max-height: 525px; opacity: 1;">
                                <div class="topic">
                                    <textarea placeholder="제목을 입력하세요" class="topic-content" style="height: 86px;"></textarea>
                                    <div class="topic-mid"></div>
                                    <div class="topic-tag-start">
                                        <input placeholder="태그를 입력하세요" tabindex="2" class="topic-tag-content" value>
                                        <div class="topic-tag-end"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 제목 및 태그 입력 항목 -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>